body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: url(/public/patrick-robert-doyle-AH8zKXqFITA-unsplash-min.jpg)
    no-repeat fixed;
  background-position: center;
  background-size: cover;
  background-blend-mode: color-burn;
  background-color: #17262594;
  position: sticky;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.header {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #172625;
}

.text {
  font-family: "Pavanam", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #172625;
}

a {
  text-decoration: none;
  color: #172625;
}

.calendar__calendar-container {
  background-color: #17262594 !important;
  height: 10% !important;
  width: 50% !important;
  span {
    color: #f29c6b !important;
  }
}

.calendar__dayCell-content,
.calendar__dayCell-header,
.calendar__weekCell {
  color: #d9b6a3 !important;
}

.calendar__dayCell-selected,
.calendar__dayCell-selectedStart,
.calendar__dayCell-selectedEnd {
  background-color: #f6813e !important;
  border: #f29c6b !important;
}

.calendar__month-arrowBack,
.calendar__month-arrowNext {
  path {
    fill: #f29c6b !important;
  }
}

.css-13cymwt-control,
.css-1f43avz-a11yText-A11yText,
.css-b62m3t-container {
  background-color: #d9b6a3 !important;
  border-radius: 1em;
}

.css-1dimb5e-singleValue,
.css-1fdsijx-ValueContainer,
.css-t3ipsp-control,
.css-1nmdiq5-menu {
  background-color: #d9b6a3 !important;

  input {
    background-color: #d9b6a3 !important;
  }
}

.css-1hb7zxy-IndicatorsContainer,
.css-1u9des2-indicatorSeparator {
  path {
    color: #172625;
  }
  span {
    background-color: #172625;
  }
}
